$accentColor = #0044D4
$textColor = #0D2B3E
$borderColor = #E1E7EA
$codeBgColor = #505A6F

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    letter-spacing: -0.6px;
    font-weight: 400;
}

h2 {
    letter-spacing: -0.6px;
    font-weight: 500;
}
