.validation-info,
.validation-error {
    position: relative;
    width: 100%;
    margin-top: 4px;
    border-radius: 8px;
    padding: 8px 10px;
    font-size: 8px;
    box-sizing: border-box;
    text-align: left;
    display: none;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}

.validation-info:before,
.validation-error:before {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 6px;
}

.validation-error:before {
    content: 'INVALID';
    color: red;
}

.validation-info:before {
    content: 'VALID';
    color: green;
}

.validation-info {
    background: #e8eeef;
    color: #8a97a0;
}

.validation-error {
    background: #ffd7d8;
    color: #cc0013;
}

.field {
    position: relative;
}

#mounting-loading {
    position: absolute;
    z-index: 100;
    width: 100%;
    text-align: center;
    color: #8a97a0;
    top: 50%;
    margin-top: -10px;
}
